body {
  margin: 0;
  padding: 0;
}

.list {
  height: calc(100vh - 45px);
  overflow-y: scroll;
  list-style: none;
  padding-left: 0px;
}

.list li {
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.connecting-container {
  height: 100vh;
}

.target-video {
  width: 100%;
  height: 300px;
}

.origin-video {
  position: fixed;
  width: 40%;
  height: 200px;
  top: 40px;
  right: 20px;
  z-index: 100;
}

